# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: verademo.NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
          run:
            working-directory: './verademo-dotnet/verademo-dotnetcore-master/app'

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: ls -R

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore

#      - name: Build
#        run: dotnet build --no-restore

      - name: Build
        run: dotnet publish

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Verificacion bin antes del zip
        run: ls -R ./bin

      - name: Archive Zip Oscar
        run: zip -r verademo-dotnetcore.zip ./bin/Debug

      - name: Run a one-line script
        run: ls -R ./bin

      - name: Run a one-line script
        run: ls -l ./*.zip

      # Runs Veracode Policy Scan
      - name: VERACODE POLICY SCAN - UPLOAD AND SCAN
        if: ${{ success() }}
        uses: veracode/veracode-uploadandscan-action@0.2.4
        env:
          VID: ${{ SECRETS.VID }}
          VKEY: ${{ SECRETS.VKEY }}
        with:
          appname: 'verademo-dotnetcore'
          createprofile: false
          filepath: './*.zip'
          version: '${{ github.run_id }}'
          vid: '$VID'
          vkey: '$VKEY'
          scanallnonfataltoplevelmodules: true
          deleteincompletescan: 1   
